<%
  # AIRFIELD
  # Post Partial -- Render a post in an archive/list view

  # Preset the post-counter:
  post_counter ||= nil

  # Preset the hide_title toggle:
  hide_title ||= false
-%>

<article id="post-<%=post.id%>" class="post editable <%=cycle("even", "odd")%> <%= post_counter ? "in_set" : "solo" %>" data-content-type="post" data-content-id="<%=post.id-%>">
  <aside class="post-aside">
    <span class="month"><%= post.published_at.strftime("%b") %></span><br/>
    <span class="day"><%= post.published_at.strftime("%d") %></span><br/>
    <span class="year"><%= post.published_at.strftime("%Y") %></span><br/>
  </aside>
  <section class="post-content">
    <% unless hide_title %>
      <% if post_counter %>
        <h1><%=link_to post.name, post_path(post) %></h1>
      <% else %>
        <h1 class="field" data-content-key="name"><%= post.name %></h1>
      <% end %>
    <% end %>

    <span class="field" data-content-key="content"><%= render_markdown(post.content) %></span>

    <% unless post.category_list.blank? %>
    <ul class="categories">
      <span><i class="icon-tags"></i></span>
      <% post.category_list.each do |cat| %>
      <li><%=link_to cat, category_path(cat)-%></li>
      <% end %>
    </ul>
    <% end %>
  </section>
</article>


