<%
  # AIRFIELD
  # Post Partial -- Render a post in an archive/list view

  # Preset the post-counter:
  post_counter ||= nil

  # Preset the hide_title toggle:
  hide_title ||= false
-%>

<article id="post-<%=post.id%>" class="post <%=cycle("even", "odd")%> <%= post_counter ? "in_set" : "solo" %>">
  <aside class="post-aside">
    <span class="month"><%= post.published_at.strftime("%b") %></span><br/>
    <span class="day"><%= post.published_at.strftime("%d") %></span><br/>
    <span class="year"><%= post.published_at.strftime("%Y") %></span><br/>
  </aside>
  <section class="post-content">
    <% unless hide_title %>
      <% if post_counter %>
        <h1><%=link_to post.name, post_path(post) %></h1>
      <% else %>
        <h1 class="editable" data-content-type="post" data-content-id="<%=post.id-%>" data-content-key="name"><%= post.name %></h1>
      <% end %>
    <% end %>

    <span class="editable" data-content-type="post" data-content-id="<%=post.id-%>" data-content-key="content">
    <%= render_markdown(post.content) %>
    </span>

    <% unless post.category_list.blank? %>
    <ul class="categories">
      <span><i class="icon-tags"></i></span>
      <% post.category_list.each do |cat| %>
      <li><%=link_to cat, category_path(cat)-%></li>
      <% end %>
    </ul>
    <% end %>
  </section>
  <!-- NB: Triggers are not required. Focus on and off will be used for action capture
  <aside class="edit-triggers">
    <%=link_to "<i class='icon-pencil'></i> Edit Post".html_safe, "#", :class=>"edit-trigger", "data-editable"=>"post-#{post.id}" %>
    <%=link_to "<i class='icon-ok'></i> Stop Editing".html_safe, "#", :class=>"edit-stopper", "data-editable"=>"post-#{post.id}" %>
  </aside>
  -->
</article>


