<%
  # AIRFIELD
  # Post Partial -- Render a post in an archive/list view

  # Preset the post-counter:
  post_counter ||= nil

  # Preset the hide_title toggle:
  hide_title ||= false
-%>

<%= content_container post, :tag=>"article", :html=>{id:"post-#{post.id}", class:"post editable #{cycle("even","odd")} #{post_counter ? "in_set" : "solo"}"} do %>
  <aside class="post-aside">
    <%= content_attribute(post, :published_at, :html=>{class:"month"}) { post.published_at.strftime("%b") } %> <br/>
    <%= content_attribute(post, :published_at, :html=>{class:"day"}) { post.published_at.strftime("%d") } %> <br/>
    <%= content_attribute(post, :published_at, :html=>{class:"year"}) { post.published_at.strftime("%Y") } %> <br/>
  </aside>
  <section class="post-content">
    <% unless hide_title %>
      <% if post_counter %>
        <%= content_attribute(post, :name, :tag=>"h1", :html=>{class:"field"}) { link_to(post.name, post_path(post)) } %>
      <% else %>
        <%= content_attribute(post, :name, :tag=>"h1", :html=>{class:"field"}) %>
      <% end %>
    <% end %>

    <%= content_attribute(post, :matter, :html=>{class:"field"}) do %>
      <%= render_markdown(post.matter) %>
    <% end %>

    <% unless post.category_list.blank? %>
    <ul class="categories">
      <span><i class="icon-tags"></i></span>
      <% post.category_list.each do |cat| %>
      <li><%=link_to cat, category_path(cat)-%></li>
      <% end %>
    </ul>
    <% end %>
  </section>
<% end # content_container %>


