<%
  # AIRFIELD
  # Site / Index
-%>


<br/>
<%=content_collection @posts do %>
  <%=btn_link_to "Add New Post", new_content_path(), :icon=>"plus", "data-button"=>"add", "data-edit-ui"=>true %>
  <%=render :partial=>"post", :collection=>@posts, :locals=>{} %>
<% end # content_collection %>

<div id="pagination">
  <%=link_to_previous_page @posts, "<i class='icon-arrow-left'></i> Newer Posts".html_safe %>
  <%=link_to_next_page @posts, "Older Posts <i class='icon-arrow-right'></i>".html_safe %>
</div>
