<%
  # AIRFIELD
  # Site / Index
-%>


<article id="post-template" class="post in_set insertable" data-content-type="post">
  <aside class="post-aside">
    <span class="month" data-content-key="published_at.month"><%= DateTime.now.strftime("%b") %></span><br/>
    <span class="day" data-content-key="published_at.day"><%= DateTime.now.strftime("%d") %></span><br/>
    <span class="year" data-content-key="published_at.year"><%= DateTime.now.strftime("%Y") %></span><br/>
  </aside>
  <section class="post-content">
    <h1 class="field" data-content-key="name">New Post</h1>
    <span class="field" data-content-key="content">
      Change this next to begin editing your new post...
    </span>
  </section>
  <i class="icon-save"></i> <%=link_to "Save New Post", content_path(), :class=>"save-button" %>
</article>


<%=render :partial=>"post", :collection=>@posts, :locals=>{} %>

<div id="pagination">
  <%=link_to_previous_page @posts, "<i class='icon-arrow-left'></i> Newer Posts".html_safe %>
  <%=link_to_next_page @posts, "Older Posts <i class='icon-arrow-right'></i>".html_safe %>
</div>
