<%
  # AIRFIELD
  # Content / New Post -- template for creating new posts

  post ||= new_post
-%>

<%= content_container post, :tag=>"article", :html=>{:class=>"post insertable in_set"} do %>
  <aside class="post-aside">
  <% if false %>
    <%= content_attribute(post, :published_at, :html=>{class:"month"}) { DateTime.now.strftime("%b") } %> <br/>
    <%= content_attribute(post, :published_at, :html=>{class:"day"}) { DateTime.now.strftime("%d") } %> <br/>
    <%= content_attribute(post, :published_at, :html=>{class:"year"}) { DateTime.now.strftime("%Y") } %> <br/>
  <% end # if false %>
  </aside>
  <section class="post-content">
    <%= content_attribute(post, :name, :tag=>"h1", :html=>{class:"field"}) { "New Post" } %>
    <%= content_attribute(post, :matter, :html=>{class:"field"}) { "Begin editing your new post, here." } %>

    <% # TODO: Tag List for new content %>
  </section>

  <%=btn_link_to "Save Post", content_path(), :icon=>"save", "data-button"=>"save" %>
  <%=btn_link_to "Cancel", "#", :icon=>"remove", "data-button"=>"cancel" %>
<% end # content_container %>
