<!DOCTYPE html>
<html>
<head>
  <title><%= site_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header-container">
    <div id="header">
      <h1><%=greeting-%> I'm Colin McCloskey</h1><br/>
      <h2><%=subtitle-%></h2>
    </div> <!--/#header-->
    <div id="navigation-container">
      <ul id="navigation">
        <%= site_page_navigation_item("<i class='icon-home'></i> Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_header().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
        <%= site_page_navigation_item("<i class='icon-plus'></i> Add Page", new_content_path(), :class=>"edit-ui", :id=>"add-page-button") %>

        <% if current_user %>
          <%= site_page_navigation_item("<i class='icon-unlock'></i> Logout", destroy_user_session_path(), {}, :style=>"float:right;") %>
          <%= site_page_navigation_item("<i class='icon-pencil'></i> Edit", content_path(), {:id=>"edit-mode-toggle"}, :style=>"float:right;") %>
        <% else %>
          <%= site_page_navigation_item("<i class='icon-lock'></i> Login", new_user_session_path(), {}, :style=>"float:right;") %>
        <% end %>


      </ul>
    </div> <!--/#navigation-container-->
    <div class="clearfix"></div>
  </header>

  <div id="content-container">
    <div id="content">
      <%= yield %>
      <div class="clearfix"></div>
    </div>
  </div> <!--#content-container-->

  <footer id="footer-container">
    <div id="footer">
      <ul id="footer-navigation">
        <%= site_page_navigation_item("Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_footer().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
      </ul>
      <span id="powered-by">&copy; 2013 Colin McCloskey is powered by many things, among them <%=powered_by-%>.</span><br/>
      <span id="site-powered-by">
        This website is powered by <%=link_to "Airfield", "http://github.com/mccolin/airfield"-%>, a static site and
        blogging platform from <%=link_to "Awexome Labs", "http://awexomelabs.com/?ref=powered-by&partner=mccolin"-%>.
      </span>
    </div>
  </footer>

  <!-- Backbone JS -->
  <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
  <script type="text/javascript">
    (function() {
      var Airfield = {};
      window.Airfield = Airfield;

      Airfield.Post = Backbone.Model.extend({
        url: "/content",
        defaults: {
          name: "New Post",
          content: "This is the body text of your new post."
        },
        toJSON: function() {
          return _.extend({
            type: "post",
            content: this.attributes
          });
        },
        show: function() {
          console.log("Showing post:");
          console.log(this);
        }
      });

    })();


    console.log("BackboneJS stuff happened.");

    p = new Airfield.Post({name: "The New Post", author: "Colin McCloskey"});
    console.log("Airfield.Post object:");
    console.log(p);
    p.set("name", "Test Backbone Post");
    p.show();
    p.save();

  </script>


</body>
</html>
