<!DOCTYPE html>
<html>
<head>
  <title><%= site_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header-container">
    <div id="header">
      <h2><%=subtitle-%></h2><br/>
      <h1>Colin McCloskey</h1>
    </div> <!--/#header-->
    <div id="navigation-container">
      <ul id="navigation">
        <%= site_page_navigation_item("<i class='icon-home'></i> Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_header().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
      </ul>
    </div> <!--/#navigation-container-->
    <div class="clearfix"></div>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <footer id="footer-container">
    <div id="footer">
      <ul id="footer-navigation">
        <%= site_page_navigation_item("Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_footer().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
      </ul>
      <span id="powered-by">Colin McCloskey is powered by many things, among them <%=powered_by-%>.</span><br/>
      <span id="site-powered-by">
        This website is powered by <%=link_to "Airfield", "http://github.com/mccolin/airfield"-%>, a static site and
        blogging platform from <%=link_to "Awexome Labs", "http://awexomelabs.com/?ref=powered-by&partner=mccolin"-%>.
      </span>
    </div>
  </footer>

</body>
</html>
