<!DOCTYPE html>
<html>
<head>
  <title>Airfield</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= text_area_tag :editor, "", :class => "tinymce", :rows => 40, :cols => 120 %>

<%= tinymce %>

</body>
</html>
