<!DOCTYPE html>
<html>
<head>
  <title><%= site_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header-container">
    <div id="header">
      <h1><%=greeting-%> I'm Colin McCloskey</h1><br/>
      <h2><%=subtitle-%></h2>
    </div> <!--/#header-->
    <div id="navigation-container">
      <ul id="navigation">
        <%= site_page_navigation_item("<i class='icon-home'></i> Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_header().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
        <%= site_page_navigation_item("<i class='icon-plus'></i> Add Page", new_content_path(), "data-edit-ui"=>true, "data-button"=>"add-page") %>

        <% if current_user %>
          <%= site_page_navigation_item("<i class='icon-unlock'></i> Logout", destroy_user_session_path(), {}, :style=>"float:right;") %>
          <%= site_page_navigation_item("<i class='icon-pencil'></i> Edit", content_path(), {:id=>"edit-mode-toggle"}, :style=>"float:right;") %>
        <% else %>
          <%= site_page_navigation_item("<i class='icon-lock'></i> Login", new_user_session_path(), {}, :style=>"float:right;") %>
        <% end %>


      </ul>
    </div> <!--/#navigation-container-->
    <div class="clearfix"></div>
  </header>

  <div id="content-container">
    <div id="content">
      <%= yield %>
      <div class="clearfix"></div>
    </div>
  </div> <!--#content-container-->

  <footer id="footer-container">
    <div id="footer">
      <ul id="footer-navigation">
        <%= site_page_navigation_item("Home", home_path) %>
        <% @pages.each do |page| %>
          <%= site_page_navigation_item(page.name, page_path(page)) %>
        <% end # pages %>
        <% @links.in_footer().each do |link| %>
          <%= site_page_navigation_item(link.name, link.url, :target=>"_blank") %>
        <% end # links %>
      </ul>
      <span id="powered-by">&copy; 2013 Colin McCloskey is powered by many things, among them <%=powered_by-%>.</span><br/>
      <span id="site-powered-by">
        This website is powered by <%=link_to "Airfield", "http://github.com/mccolin/airfield"-%>, a static site and
        blogging platform from <%=link_to "Awexome Labs", "http://awexomelabs.com/?ref=powered-by&partner=mccolin"-%>.
      </span>
    </div>
  </footer>

  <div id="background-wrap"></div>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript">
    $("#header h1").css("cursor","pointer").click(function(e){
      document.location.href = "<%=home_path()-%>";
    });
  </script>

</body>
</html>
